html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.pagination {
    display: flex;
    gap: 5px;
    list-style: none;
}

.pagination li:not(.break-me) {
    background-color: #202020;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}

.pagination li:not(.break-me):hover {
    background-color: #393939;
}

.pagination li:not(.active) {
    cursor: pointer;
}

.pagination .active {
    background-color: #0e0e0e !important;
    color: white !important;
}

.pagination .break-me, .pagination .break-me a {
    display: flex;
    align-items: center;
}

.skeleton-container {
    display: flex;
    gap: 20px;
}

button {
    background-color: #15b0df;
    padding: 7px;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #14a4d0;
    box-shadow: inset #0e0e0e09;
}

button:focus {
    background-color: #0d94be;
}