html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.pagination {
    display: flex;
    gap: 5px;
    list-style: none;
}

.pagination li:not(.break-me) {
    background-color: #202020;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
}

.pagination li:not(.break-me):hover {
    background-color: #393939;
}

.pagination li:not(.active) {
    cursor: pointer;
}

.pagination .active {
    background-color: #797979 !important;
    color: white !important;
}

.pagination .break-me, .pagination .break-me a {
    display: flex;
    align-items: center;
}

.skeleton-container {
    display: flex;
    gap: 20px;
}

button {
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform .3s;
}

button:hover {
    transform: scale(1.1);
}